.address-for-map
	.contacts-address-line(
		data-coords="[55.6,37.6]"
		data-phone="+7 (499) 938-83-51"
		data-address="м. Китай-город, Лубянский пр., 15, стр. 4"
	)
	.contacts-address-line(
		data-coords="[56.6,38.6]"
		data-phone="+7 (499) 938-83-51"
		data-address="м. Китай-город, Лубянский пр., 15, стр. 4"
	)
	
.map
	#map(data-marker="/images/icons/marker-black.svg")
