mixin inputText(placeholder, className) 
	input(type="text" placeholder=placeholder class='input-decorate '+ className)
mixin inputPhone(placeholder, className) 
	input(type="text" placeholder=placeholder class='input-decorate phone-mask '+ className)
mixin inputEmail(placeholder, className) 
	input(type="email" placeholder=placeholder class='input-decorate check-mail '+ className)

mixin inputIcon(placeholder, className, icoClass) 
	.ico-field(class=className )
		input(type="text" placeholder=placeholder class='input-decorate')
		i(class=icoClass)
mixin inputPassword(placeholder, className) 
	.password-field(class=className )
		input(type="password" placeholder=placeholder class='input-decorate')
		i(data-visibility="false")

mixin inputTextarea(placeholder, className) 
	textarea(placeholder=placeholder class='input-decorate '+className)
mixin inputCheckbox(options, className ) 
	.checkbox-container
		each val in options 
			.checkbox(class=className)
				label= val 
					input(type="checkbox")
					span
mixin inputRadio(options, name, className ) 
	.checkbox-container
		each val, index in options
			.checkbox(class=className)
				label= val
					input(type="radio" name=name value=val)
					span
mixin inputFile(multy, textchoise, hint, className ) 
	.input-file-container(class=className)
		input.input-file(type="file" data-multy=multy data-textchoise=textchoise data-hint=hint accept="image/jpeg,image/png,image/gif"  )
mixin inputPhoto(multy, textchoise, hint, className ) 
	.input-file-container(class=className)
		input.input-file(type="file" data-multy=multy data-textchoise=textchoise data-hint=hint accept="image/jpeg,image/png,image/gif"  )
mixin inputSelect(firstText, options, className)
	select.style-select(data-text=firstText data-class=className)
		each val in options
			option= val
mixin rangeSliderOne(rangeMax, rangeFrom, rangeTo) 
	.style-range-container.range-slider-js
		.hidden-input-irs
			input(type="text" class="from-range" value=rangeFrom name='a')
		.range-slider(data-type="single" data-min="0" data-max=rangeMax data-from=rangeFrom data-to=rangeTo)
mixin rangeSliderTwo(rangeMax, rangeFrom, rangeTo) 
	.style-range-container.range-slider-js
		.hidden-input-irs
			input(type="text" class="from-range" value=rangeFrom name='a')
			input(type="text" class="to-range" value=rangeTo name='b')
		.range-slider(data-type="double" data-min="0" data-max=rangeMax data-from=rangeFrom data-to=rangeTo)

mixin dragdropZone(classNme, size)
	.dragdrop-container
		.dragdrop-zone
			span Нажмите и загрузите фотографии, либо же  перетяните в это окно
		.dragdrop-uploaded
			-for(var i=0; i<=size; i++)
				.dragdrop-file-item
					.dragdrop-file-img
						img(src="https://zoo-base.sait.website/wp-content/uploads/2023/06/2.jpg")
					i
mixin inputSubmit(textBtn, className, wrapClassName)
	.form-btn-container(class=wrapClassName)
		input(type="submit" class='btn '+className  value=textBtn)
